.modeContainer {
  height: 350px;
  width: 100vw;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.icon {
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bgImg {
  height: 300px;
  width: 300px;
}
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  font-family: "Abril Fatface";
}
