@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
body {
  background-color: white;
}
.gameContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
}
.boxContainer {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  border-collapse: collapse;
  justify-content: baseline;
  align-self: start;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 10px 30px 0 rgba(104, 38, 38, 0.19);
  /* background-color: rgb(14, 11, 11); */
}
.userInfo {
  opacity: 1;
  z-index: 1020;
  display: flex;
  width: 90%;
  color: white;
}
.gameDetails {
  z-index: 1025;
  display: flex;
  width: 100%;
  max-width: 400px;
  height: 100px;
  flex-direction: row;
  justify-content: baseline;
  text-align: center;
  background-color: #489fb0;
  font-size: 2em;
  padding: 10px;
  font-family: "Abril Fatface", cursive;
}
.reload {
  color: white;
  float: right;
  cursor: pointer;
  stroke-width: 5px;
}
.footer {
  background-color: teal;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5;
  font-family: "Abril Fatface", cursive;
}
