.box {
  display: inline-flex;
  height: 100px;
  width: 100px;
  border: 2px solid #3d8c9c;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  font-size: 50px;
  border-collapse: collapse;
  top: 0;
  bottom: 0;
  background-color: transparent;
  cursor: grab;
}
.box:nth-child(1) {
  border-left: none;
  border-top: none;
}
.box:nth-child(2) {
  border-top: none;
}
.box:nth-child(3) {
  border-right: none;
  border-top: none;
}
.box:nth-child(4) {
  border-left: none;
}
.box:nth-child(6) {
  border-right: none;
}
.box:nth-child(7) {
  border-left: none;
  border-bottom: none;
}
.box:nth-child(8) {
  border-bottom: none;
}
.box:nth-child(9) {
  border-right: none;
  border-bottom: none;
}
.x {
  color: red;
}
.o {
  color: greenyellow;
}

.box:hover {
  box-shadow: rgb(12, 165, 212) 2px solid;
}
.final {
  font-size: 80px;
  background-color: #489fb0;
}
